<div id="render-task" class="col-lg-8">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil-square-o"></i> Match EQ</h3>
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" onclick="wavesurfer.playPause()">Play/Pause</button>
                    <button type="button" class="btn btn-default" onclick="toggleTransform()">Transform</button>
                    <button type="button" class="btn btn-warning" onclick="wavesurfer.clearRegions()">Clear Loop</button>
                </div>
            </div>

            <div class="row">
                <div id="waveform">
                    <!-- Waveform goes here -->
                </div>
            </div>

            <div class="row">
                <div id="graphic-EQ">
                    <!-- Graphic EQ goes here -->
                </div>
            </div>

        </div><!-- /.panel-body -->

    </div>

</div><!-- /#render-task -->


<!-- Task-specific dependencies -->
<script src="matchEQ.js"></script>
